@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}
.wrapper{
    background: #156;
    width: 550px;
    height: 350px;
    border-radius: 26px;
    box-shadow: 2 2 228px 0 rgb(0, 0, 0, 0.1),
                2 32px 74px -58px rgba(0, 0, 0, 0.5)
}
/* Signup Form CSS Code */
.from{
    padding: 35px 40px;
}
.from header{
    color: #896;
    font-style: italic;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 5px solid #e6e6e6;
}
.from from{
    margin: 20px 0;
}
.from from .error-txt{
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb;
    display: none;
}
.from from .name-details .field:first-child{
    margin-right: 10px;
}
.from from .name-details .field:last-child{
    margin-left: 10px;
}
.from from .field{
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 10px;
}
.from from .field label{
    margin-bottom: 2px;
}
.from from .field input{
    outline: transparent;
}
.from from .field input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
.from from .image input{
    font-size: 17px;
    cursor: pointer;
}
.from from .button input{
    font-style: italic;
    margin-top: 13px;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    background: #784;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.from from .field button{
    font-style: italic;
}